<!DOCTYPE html>
    <html>
    <head>
        <title>Change Password</title>
    </head>
    <body>
        <form method="POST" action="change_pass">
        <label>Password</label>
        <input type="password" name="pass1"><br>
        <label>Confirm Password</label>
        <input type="password" name="pass2">
        <input type="submit">
        </form>
    </body>
</html>